<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="/static/custom.css" rel="stylesheet">

    {% block head %}

    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url('home') }}">ASYLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item"><a class="nav-link" href="{{ url('home') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url('post_list') }}">Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url('about') }}">About</a></li>
            </ul>
            <span class="nav-item small">
                {% if user %}
                    You're logged as {{ user.login }}
                    | <a href="{{ url('create') }}">Create post</a>
                    | <a href="{{ url('logout') }}">Logout</a>
                {% else %}
                    Hello, guest! | <a href="{{ url('login') }}">Signin</a>
                {% endif %}
            </span>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-main"><br>
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>