{% extends "base.html" %}

{% block content %}

<form class="form-horizontal" action="" method="post">
	<fieldset>

		<legend>Create post</legend>

		{% if message %}
			<div class="alert alert-danger">{{ message }}</div>
		{% endif %}

		<div class="form-group">
		  <label class="col-md-12 control-label" for="title">Title</label>
		  <div class="col-md-12">
		  <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md">
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-md-12 control-label" for="content">Post content</label>
		  <div class="col-md-12">
		    <textarea class="form-control" id="content" name="content" rows="10" placeholder="Your text here..."></textarea>
		  </div>
		</div>

		<div class="form-group">
		  <div class="col-md-12 text-right">
		    <button type="submit"  class="btn btn-primary">Save</button>
		  </div>
		</div>

	</fieldset>
</form>

{% endblock %}