{% extends "base.html" %}

{% block content %}
	{% if posts %}
		<h2>Newest posts</h2><br>
	{% for post in posts %}
		<div class="blog-post">
	        <a class="blog-post-title" href="{{ url('post_detail', id=post.id) }}">{{ post.title }}</a>
	        <p class="blog-post-meta">
		        {{ post.created.strftime('%d %B, %Y') }} by <a class="text-success">{{ post.author.login }}</a>
	        </p>
			{{ post.content | safe | truncate(280, True) }}
		</div>
	{% endfor %}
	{% else %}
		<h2>We dont have a new posts, so please wait or write itself!</h2>
	{% endif %}
{% endblock %}