{% extends "./base.html" %}

{% block content %}

	<form action="{{ url('login-verify') }}" method="post">
	  <div class="form-group">
	    <label for="login">Login</label>
	    <input type="text" class="form-control" id="login" name="login" placeholder="Enter login">
	  </div>

	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
	  </div>

	  <button type="submit" class="btn btn-primary" value="Login">Login</button>
	</form>

	<br>

	{% if message %}<div class="alert alert-danger" role="alert">{{ message }}</div>{% endif %}

{% endblock %}