{% extends "base.html" %}

{% block content %}
	<div class="blog-post">
        <a class="blog-post-title">{{ post.title }}</a>
		<p class="blog-post-meta">
			{{ post.created.strftime('%d %B, %Y') }} by <a class="text-success">{{ post.author.login }}</a>
		</p>
		<p>{{ post.content | safe }}</p>
	</div>
{% endblock %}